/*.table-striped tbody > tr:hover {*/
/*background-color: #b598ea;*/
/*}*/

/*.table-striped > tbody > tr:nth-of-type(2n+1) {*/
/*background: white;*/
/*}*/

/*.table-striped > tbody > tr:nth-of-type(2n+1):hover {*/
/*background-color: #b598ea;*/
/*}*/

/*.table-bordered > thead > tr > th,*/
/*.table-bordered > tbody > tr > th,*/
/*.table-bordered > tfoot > tr > th,*/
/*.table-bordered > thead > tr > td,*/
/*.table-bordered > tbody > tr > td,*/
/*.table-bordered > tfoot > tr > td*/
/*{*/
/*border: 0px solid #ddd;*/
/*!*cursor: hand;*!*/
/*outline: 0;*/
/*}*/

/*.table-bordered > tbody > tr > td*/
/*{*/
/*!*border-top: 1px solid #ddd !important;*!*/
/*border-bottom: 1px solid #ddd !important;*/
/*}*/

/*.table-bordered > thead> tr > th{*/
/*border-bottom: 1px solid #ddd !important;*/
/*}*/
/*.table-bordered thead tr th {*/
/*padding: 10px;*/
/*border: 0px solid #eee;*/
/*}*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.col-lg-half-1 {
    width: 4.166666665%;
}

.col-lg-5-half {
    width: 45.833333315%;
}

.surveys-homescreen-list-header, .surveys-homescreen-item-section {
    margin-left: 0px;
    margin-right: 0px;
}

/* ==========ALL SURVEYS============= */
.surveys-homescreen-item-section .header-dropdown {
    position: relative;
    /*top: 20px;*/
    right: 15px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.surveys-homescreen-item-section .header-dropdown i {
    font-size: 20px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.surveys-homescreen-list-item-cell .dropdown i:hover {
    color: black;
}

.surveys-homescreen-list-header {
    background: #eeeeee;
    bottom: auto;
    color: #555555;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    outline: none;
    /*position: relative;*/
}

.surveys-homescreen-item-section {
    /*border-top: 1px solid #c4c4c4;*/
    /*border-left: 1px solid #d3d3d3;*/
    /*border-right: 1px solid #d3d3d3;*/
    /*border-top: 1px solid #d3d3d3;*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}

.surveys-homescreen-list-item {
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    color: #444;
    cursor: pointer;
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/

}

.surveys-homescreen-list-item:hover {
    background-color: #b099db;
}

.surveys-homescreen-list-item-surveyname .icon-empty:before {
    left: 4px;
    vertical-align: middle;
    margin-right: 3px;
    height: 18px;
    width: 18px;
    /*position: absolute;*/
    display: inline-block;
    margin-top: 1px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 18px;
    content: '-';
    background-color: red;
    /*display: none;*/
}

.surveys-homescreen-list-item-surveyname .special:before {
    content: '+';
    background-color: #337ab7;
}

.surveys-homescreen-list-item-cell .icon .material-icons {
    /*margin-top: 2px;*/
}

.surveys-homescreen-list-item-cell {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ==========SURVEY ASSIGNMENTS============= */

.card .survey-assign-container {
    padding: 20px;
    cursor: pointer;
}

/*.survey-assignments-container .overflow-cell{*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*}*/
#clientFromDialog {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    font-weight: bold;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.surveys-homescreen-list-item-cell {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    /*border-bottom: 1px solid #e3e3e3;*/
    color: #444;
}

/*
----------------------------------------
CREATING SURVEY
----------------------------------------
*/

.survey-page {
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*overflow: hidden;*/
    /*margin-bottom: 150px;*/
    /*border: 1px solid #9A9B9A;*/
    /*position: relative;*/

}



    .block-header-fixed {
        height: 50px;
        padding-top: 3px;
        padding-bottom: 0px;
        /*border-bottom: 1px solid red;*/
        margin-bottom: 5px;
        position: fixed;
        z-index: 11!important;
        background-color: #E9E9E9;
        margin-top: -32px;
        /*width: calc(100% - 30px);*/
        right: 0px;
        left:300px;

        transition: all 0.5s;
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    }
    .text{
        margin-left: 22px;
    }



@media (max-width: 1169px){
    .block-header-fixed {
        height: 50px;
        padding-top: 3px;
        padding-bottom: 0px;
        /*border-bottom: 1px solid red;*/
        margin-bottom: 5px;
        position: fixed;
        z-index: 11!important;
        background-color: #E9E9E9;
        margin-top: -32px;
        /*width: calc(100% - 30px);*/
        right: 0px;
        left:0px;
        transition: all 0.5s;
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);


    }

    .text{
        margin-left: 22px;
    }
}
#test .question-canvas{
    /*background-color: #00A6C7;*/
}
#test .question-canvas-active{
    background: #fff;
    /*min-height: 50px;*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


/*.headerDivider {*/
    /*border-right: 1px solid #e0e0e0;*/
    /*!*height: 36px;*!*/
    /*!*margin: 0 16px;*!*/
    /*!*width: 0px!important;*!*/
/*}*/

.bootstrap-select .btn{
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)!important;*/
    box-shadow: none!important;
    border-bottom: none !important;
    font-size: 16px!important;
    background-color: #F5F5F5!important;
}
.col_sidebar #sidebar{
    /*width:30px;*/
    /*height:30px;*/
    position:absolute;
    right:0px;
    top:20px;
    width: 100%;

    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition: all 500ms cubic-bezier(0.255, 1, 0.440, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -moz-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -o-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.255, 1, 0.440, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -moz-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -o-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320); /* custom */

}


#survey-question-container .survey_row_question:focus{
    outline: none !important;
}


/*
    -------SLIP, ORDERING QUESTIONS
*/

.slip-swiping-container {
    overflow-x: hidden;
}

.slip-reordering {

    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    z-index: 10;
}
.survey_row_question_active{
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    border-left: 3px solid red;
    border-right: 3px solid red;
}


.survey_container{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.survey_row_question{
    padding-bottom: 20px;
}

/*.more_options{*/
    /*border-top: 1px solid #e0e0e0;*/
    /*padding-top: 20px;*/
    /*!*padding-bottom: 10px;*!*/
/*}*/

.handle {
    float: right;
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    color: #e9e9e9;
    font-size: 24px;
    cursor: move;
    /*cursor: grab;
    &:active {
      cursor: grabbing;
    }*/
}