.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.big_container{
    width: 100%;
}

/* ==========SURVEY ASSIGNMENTS============= */

.card .survey-assign-container {
    padding: 20px;
    cursor: pointer;
}

/*.survey-assignments-container .overflow-cell{*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*}*/
#clientFromDialog {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    font-weight: bold;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.surveys-homescreen-list-item-cell {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    /*border-bottom: 1px solid #e3e3e3;*/
    color: #444;
}

/*
----------------------------------------
CREATING SURVEY
----------------------------------------
*/

.section_page {
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /*overflow: hidden;*/
    /*margin-bottom: 150px;*/
    /*border: 1px solid #9A9B9A;*/
    /*position: relative;*/

}

.section_page input[type="text"]:disabled{background-color:white;}



.block-header-fixed {
    height: 50px;
    padding-top: 3px;
    padding-bottom: 0px;
    /*border-bottom: 1px solid red;*/
    margin-bottom: 5px;
    position: fixed;
    z-index: 11!important;
    background-color: #E9E9E9;
    margin-top: -32px;
    /*width: calc(100% - 30px);*/
    right: 0px;
    left:300px;

    transition: all 0.5s;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.text{
    margin-left: 22px;
}



@media (max-width: 1169px){
    .block-header-fixed {
        height: 50px;
        padding-top: 3px;
        padding-bottom: 0px;
        /*border-bottom: 1px solid red;*/
        margin-bottom: 5px;
        position: fixed;
        z-index: 11!important;
        background-color: #E9E9E9;
        margin-top: -32px;
        /*width: calc(100% - 30px);*/
        right: 0px;
        left:0px;
        transition: all 0.5s;
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);


    }

    .text{
        margin-left: 22px;
    }
}


/*.headerDivider {*/
/*border-right: 1px solid #e0e0e0;*/
/*!*height: 36px;*!*/
/*!*margin: 0 16px;*!*/
/*!*width: 0px!important;*!*/
/*}*/

.bootstrap-select .btn{
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)!important;*/
    box-shadow: none!important;
    border-bottom: none !important;
    font-size: 16px!important;
    background-color: #F5F5F5!important;
}
.col_sidebar #sidebar{
    /*width:30px;*/
    /*height:30px;*/
    position:absolute;
    right:0px;
    top:20px;
    width: 100%;

    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    background-color: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition: all 500ms cubic-bezier(0.255, 1, 0.440, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -moz-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -o-transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320);
    transition: all 500ms cubic-bezier(0.255, 1.225, 0.440, 1.320); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.255, 1, 0.440, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -moz-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    -o-transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320);
    transition-timing-function: cubic-bezier(0.255, 1.225, 0.440, 1.320); /* custom */

}


#survey-question-container .survey_row_question:focus{
    outline: none !important;
}


/*
    -------SLIP, ORDERING QUESTIONS
*/

.slip-swiping-container {
    overflow-x: hidden;
}

.slip-reordering {

    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    z-index: 10;
}




/*
    -----------SURVEY CREATION-----------
*/
.survey_row_question_active{
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    border-left: 3px solid red;
    border-right: 3px solid red;
}


.survey_container_row{

    margin-left: 0px;
    margin-right: 0px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.all_questions{
    margin-left: 0px;
    margin-right: 0px;
}

.btn-add-new-qs{
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    margin: 20px 0px;
    border: 1px dotted red;
}

.btn-add-new-qs:focus{
    outline: none;
}

.btn-add-new-qs:hover{

}
.survey_edit_actions,.question_editing{
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    border-left: 3px solid red;
    border-right: 3px solid red;
    background-color: white;

    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: bottom 0.1s ease-out,top 0.1s ease-out,right 0.1s ease-out;
    transition: bottom 0.1s ease-out,top 0.1s ease-out,right 0.1s ease-out;
}

.section_title_edit_actions,.question_editing{
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
    border-left: 3px solid red;
    border-right: 3px solid red;
    background-color: white;

    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: bottom 0.1s ease-out,top 0.1s ease-out,right 0.1s ease-out;
    transition: bottom 0.1s ease-out,top 0.1s ease-out,right 0.1s ease-out;
}

.survey_edit_actions, .section_title_edit_actions{
    display: none;
}

.row_edit{
    margin-left: 0px;
    margin-right: 0px;
}

.row_edit{
    margin-left: 0px;
    margin-right: 0px;
}
.survey_edit_actions .form-group{
    padding-left: 15px;
    padding-right: 15px;
}

.survey_row_title_container{
    /*display: none;*/

}


.survey_row_question{
    padding-bottom: 20px;
    display: none;
}


.survey_row_title_container{
    background-color: #2c7db7;
}

.section_row_title_container{
    background-color: #2ab7a9;
}
.survey_title_wrapper,.section_title_wrapper{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    cursor: pointer;

}

.survey_title_wrapper:hover, .section_title_wrapper:hover{
    background-color: #673ab7;
}
.survey_title_wrapper:focus, .section_title_wrapper:focus{
    outline:none;
}

.survey_title_wrapper:active, .section_title_wrapper:active{
    background-color: #4006aa;
}


.question_container{
    outline: none;
    cursor: pointer;
}


.question_container fieldset{
    border: 1px dashed #BBB;
    /*background-color: #BBB;*/
    /*!*opacity: 0.5;*!*/
    /*!*position:absolute;*!*/
    /*z-index:999999999;*/
}

.question_open{
    position: relative;
}
.field_border{
    position: absolute;
    border: 1px dotted #BBB;
    width: 100%;

    top:0;
}
.questions_row .question_body fieldset .option_show_text{
    margin: 0px!important;
    padding: 0px;
}

.survey_container .survey_container_row .questions_container .questions_row .question_container fieldset .question_body .input-group{
    margin-bottom: 0px!important;
}
.survey_container .survey_container_row .questions_container .questions_row .question_container fieldset .question_body .form-group{
    margin-bottom: 0px!important;
}

/*.more_options{*/
/*border-top: 1px solid #e0e0e0;*/
/*padding-top: 20px;*/
/*!*padding-bottom: 10px;*!*/
/*}*/

.handle {
    float: right;
    width: 100%;
    /*height: 100%;*/
    text-align: center;
    color: #e9e9e9;
    font-size: 24px;
    cursor: move;
    /*cursor: grab;
    &:active {
      cursor: grabbing;
    }*/
}
body form{
    outline: none;
}

.addNewSection_row{
    margin-left: 0px;
    margin-right: 0px;
    border: 1px dashed #BBB;
}
.addNewSection_row:focus{
    outline: none;
}
.addNewSection_row:hover{
    background-color: white;
    cursor: pointer;
}
.addNewSection_row .new_section{
    font-size: 20px;
    text-decoration: none;
    padding-top:3px;
    padding-bottom: 3px;
}
.addNewSection{
    text-align: center;
}