.select-surveys{

}

#form_validation .list_client_top, #form_validation .list_of_surveys{
    margin-left: 0!important;
    margin-right: 0!important;
}

.bootstrap-select .dropdown-toggle{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12)!important;
}