/*!*@media screen and (max-width: 768px) {*!*/
    /*!*body { padding-top: 116px; }*!*/
/*!*}*!*/

/*!* fix fixed-bar *!*/
/*!*body { padding-top: 20px; }*!*/
/*!*@import url(../client_surveys/style.css);*!*/

/*@media (min-width: 993px) {*/
    /*section.content{*/
        /*margin: 116px 0px 0 0px;*/
        /*-moz-transition: 0.5s;*/
        /*-o-transition: 0.5s;*/
        /*-webkit-transition: 0.5s;*/
        /*transition: 0.5s;*/
    /*}*/
/*}*/

/*@media (max-width: 992px) {*/
/*body { padding-top: 100px; }*/
/*}*/
/*@media (max-width: 768px) {*/
    /*body { padding-top: 100px; }*/
    /*section.content{*/
        /*margin: 100px 0px 0 0px;*/
        /*-moz-transition: 0.5s;*/
        /*-o-transition: 0.5s;*/
        /*-webkit-transition: 0.5s;*/
        /*transition: 0.5s;*/
    /*}*/
/*}*/

/*@media (max-width: 480px) {*/
    /*body { padding-top: 140px; }*/
    /*section.content{*/
        /*margin: 100px 0px 0 0px;*/
        /*-moz-transition: 0.5s;*/
        /*-o-transition: 0.5s;*/
        /*-webkit-transition: 0.5s;*/
        /*transition: 0.5s;*/
    /*}*/
/*}*/

/*@media (max-width: 320px) {*/
    /*body { padding-top: 170px; }*/
    /*section.content{*/
        /*margin: 100px 0px 0 0px;*/
        /*-moz-transition: 0.5s;*/
        /*-o-transition: 0.5s;*/
        /*-webkit-transition: 0.5s;*/
        /*transition: 0.5s;*/
    /*}*/
/*}*/





/*!*@media screen and (max-width: 1200px) {*!*/
    /*!*body { padding-top: 120px; }*!*/
/*!*}*!*/


/*.row{*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
/*}*/

/*.ls-closed section.content {*/
     /*margin-left: 0px;*/
/*}*/

/*.ls-closed section.content {*/
     /*margin-left: 0px;*/
/*}*/


/*!**/
/**   INPUT CUSTOM, RADIO, CHECKBOXES*/
/**!*/


/*[type="radio"]:not(:checked) + label {*/
    /*padding-left: 26px;*/
    /*height: 25px;*/
    /*line-height: 25px;*/
    /*font-size: 13px;*/
    /*font-weight: normal;*/
    /*width: 100%;*/
/*}*/

/*[type="checkbox"] + label {*/
    /*padding-left: 26px;*/
    /*height: 25px;*/
    /*line-height: 21px;*/
    /*font-size: 13px;*/
    /*font-weight: normal;*/
    /*width: 100%;*/
/*}*/

/*.survey-crumbs{*/
    /*position: relative!important;*/
    /*z-index: 11;*/
/*}*/

/*.navbar .navbar-toggle {*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*margin-top: -4px;*/
    /*margin-right: 17px; }*/
/*.navbar .navbar-toggle:before {*/
    /*display: none }*/

/*.navbar .navbar-toggle{*/
    /*position: relative;*/
    /*float: right;*/
    /*padding: 9px 10px;*/
    /*margin-top: 8px;*/
    /*margin-right: 15px;*/
    /*margin-bottom: 8px;*/
    /*background-color: transparent;*/
    /*background-image: none;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
/*}*/

/*.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {*/
    /*background-color: transparent;*/
/*}*/

.survey_container_row, .buttons{
    margin-left: 0px!important;
    margin-right: 0px!important;
}